<h1 class="title has-text-centered pt-5">Welcome to the Local Good Center</h1>
<div class="card is-centered column is-4 is-offset-4">
  <div class="card-content is-centered py-0">
    <form class="py-0" accept-charset="utf-8" enctype="multipart/form-data" #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
      <div class="field section px-0 pt-5 pb-2">
        <label class="label is-large" for="number">Phone Number
          <div class="control has-icons-left">
            <input class="input is-large"
            [(ngModel)]="user.mobileNumber"
            [pattern]="mobNumberPattern"  
            #mobNumber="ngModel" 
            type="text"
            name="mobileNumber"
            placeholder="(XXX) XXX-XXXX" 
            mask="(000) 000-0000" 
            value=""
            (keypress) = "OnlyNumbersAllowed($event)"
            #pNumberInput = "ngModel"
            >
            <span class="icon is-small is-left">
              <i class="fa-solid fa-phone"></i>
            </span>
          </div>
        </label>
      </div>
      <div class="field">
        <button class="button is-link is-medium is-centered" type="submit" [disabled]="userForm.invalid">Check In</button>
      </div>
      <section class="section has-text-centered px-0">
        <a routerLink = "/new-registration">
          <span class="icon-text">
            <span class="is-warning">Register for the Local Good Center</span>
            <span class="icon">
              <i class="fas fa-arrow-right"></i>
            </span>
          </span>
        </a>
      </section>
    </form>
  </div>
</div>