
<section class="section has-text-weight-bold">
        <h5 class="title is-3">Dietary Restrictions: </h5>

            <!-- <div *ngFor="let allergy of family.allergies"> -->
              <span *ngIf="family.allergies.includes('Gluten')" class="icon-text">
                <span class = "is-size-4">
                <i class="fa-solid fa-wheat-awn-circle-exclamation"></i>
                </span>
                <span class = "is-size-4">Gluten allergy</span>
                </span>
                <br>
                <span *ngIf="family.allergies.includes('Vegan')" class="icon-text">
                  <span class = "is-size-4">
                <i *ngIf="family.allergies.includes('Vegan')" class="fa-solid fa-leaf"></i>
              </span>
              <br>
              <span class = "is-size-4">Vegan</span>
              </span>
              <br>
              <span *ngIf="family.allergies.includes('Vegetarian')" class="icon-text">
                <span class = "is-size-4">
                <i *ngIf="family.allergies.includes('Vegetarian')" class="fa-solid fa-seedling"></i>
              </span>
              <span class = "is-size-4">Vegetarian</span>
              </span>
              <br>
                <span *ngIf="family.allergies.includes('Kosher')" class="icon-text">
                  <span class = "is-size-4">
                <i *ngIf="family.allergies.includes('Kosher')" class="fa-solid fa-hotdog"></i>
              </span>
              <br>
              <span class = "is-size-4">Kosher</span>
              </span>
              <br>
                <span *ngIf="family.allergies.includes('Diabetes')" class="icon-text">
                  <span class = "is-size-4">
                <i *ngIf="family.allergies.includes('diabetes')" class="fa-solid fa-cubes-stacked"></i>
              </span>
              <br>
              <span class = "is-size-4">Diabetes</span>
              </span>
              <br>
              <span *ngIf="family.allergies.length == 0" class="icon-text">
                <span class = "is-size-4">
            </span>
            <br>
            <span class = "is-size-4">No Dietary Restrictions</span>
            </span>
            <br>

              
            <!-- </div> -->
            <button class="button is-primary" routerLink="/">Continue</button>

  </section>

  <app-popup></app-popup>
