<div class="modal" [class.is-active]="modalVisible">
    <div class="modal-background" (click)="hideModal()"></div>
    <div class="modal-card" style="overflow:visible !important;">
        <div class="modal-card-head">
            <h1 class="title">{{selectedFamily.lastName}} Family</h1>
        </div>
        <div class="modal-card-body">
            <form #f="ngForm">
                <fieldset [disabled]="!editMode">
                    <label>
                        Name
                    </label>
                    <div class="columns">
                        <div class="column">
                            <input class="input" type="text" name="firstName" placeholder="First Name" [(ngModel)]="selectedFamily.firstName">
                        </div>
                        <div class="column">
                            <input class="input" type="text" name="lastName" placeholder="Last Name" [(ngModel)]="selectedFamily.lastName">
                        </div>
                    </div>
                    <label>
                        Number of Members:
                    </label>
                    <div class="columns">
                        <div class="column">
                            <label>0-17</label>
                            <input class="input" type="number" name="numMinors" [(ngModel)]="selectedFamily.minors">
                        </div>
                        <div class="column">
                            <label>18-59</label>
                            <input class="input" type="number" name="numAdults" [(ngModel)]="selectedFamily.adults">
                        </div>
                        <div class="column">
                            <label>60+</label>
                            <input class="input" type="number" name="numSeniors" [(ngModel)]="selectedFamily.seniors">
                        </div>
                    </div>
                    <label>
                        Phone Number
                    </label>
                    <input class="input" type="text" name="number" [(ngModel)]="selectedFamily.phoneNumber">
                    <label>
                        Allergies
                    </label>
                    <br>
                    <div class="dropdown" [ngClass]="this.restrictionsVisble? 'is-active' : ''" style="z-index: 10;">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2" (click)="this.restrictionsVisble = !this.restrictionsVisble">
                            <span>{{this.selectedFamily.allergies.length == 0 ? "No Dietary Restrictions" : this.selectedFamily.allergies.toString()}}</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                            <div class="dropdown-content">
                                <div *ngFor="let restriction of dietaryRestrictions; let i = index;">
                                    <div class="dropdown-item">
                                        <input type="checkbox" name="allergy{{i}}" (change)="updateRestriction(restriction)" [checked]="this.selectedFamily.allergies.includes(restriction)">
                                        {{restriction}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="isAdmin">
                        <label>Color</label>
                        <br>
                        <div style="display: inline-flex;" *ngIf="isAdmin">
                            <button class="button blue" [ngClass]="this.selectedFamily.color == 'blue' ? 'colorSelected' : ''" (click)="updateColor('blue')">Blue</button>
                            <button class="button pink" [ngClass]="this.selectedFamily.color == 'pink' ? 'colorSelected' : ''" (click)="updateColor('pink')" >Pink</button>
                        </div>
                        <br>
                        <label>
                            Upcoming Appointments
                            <table class="table is-hoverable is-fullwidth is-striped is-bordered">
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Time</th>
                                        <th></th>
                                    </tr>
                                </thead>    
                                <tbody>
                                    <tr *ngFor="let appointment of this.futureAppointments; let i = index;">
                                        <td>{{this.eventData.get(appointment.id)?.eventName}}</td>
                                        <td>{{appointment.date}}</td>
                                        <td>
                                            <button class="button is-danger is-small" (click)="deleteAppointment(i);">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="button is-link">Add Appointment</button>
                        </label>
                        <br>
                        <label>
                            Previous Appointments
                            <table class="table is-hoverable is-fullwidth is-striped is-bordered">
                                <thead>
                                    <tr>
                                        <th>Event</th>
                                        <th>Time</th>
                                        <th>Checked In</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let appointment of this.pastAppointments">
                                        <td>{{this.eventData.get(appointment.id)?.eventName}}</td>
                                        <td>{{appointment.date}}</td>
                                        <td>{{appointment.checkedIn ? "Yes" : "No"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                        <label>
                            Referral Source
                            <input class="input" type="text" name="referralSource" placeholder="Referral Source" [(ngModel)]="selectedFamily.referralSource">
                        </label>
                        <label>
                            Invited Date
                            <input class="input" type="date" name="invitedDate" [(ngModel)]="selectedFamily.invitedDate">
                        </label>
                        <label class="checkbox">
                            Needs LGM Application
                            <input type="checkbox" name="needsLGMApplication" [(ngModel)]="selectedFamily.needsLGMApplication">
                        </label>
                        <br>
                        <label class="checkbox">
                            Needs TEFARP Form
                            <input type="checkbox" name="needsTEFAPForm" [(ngModel)]="selectedFamily.needsTEFAPForm">
                        </label>
                        <br>
                        <label>
                            TEFAP Forms
                            <table class="table is-hoverable is-fullwidth is-striped is-bordered">
                                <thead>
                                    <tr>
                                        <th>Date Filled Out</th>
                                        <th>
                                            <button class="button is-link is-small">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tefap of selectedFamily.TEFAPForms">
                                        <td>tefap</td>
                                    </tr>
                                </tbody>
                            </table>
                        </label>
                        <label>
                            Notes
                            <textarea class="input" type="text" name="notes" placeholder="Notes" [(ngModel)]="selectedFamily.notes"></textarea>
                        </label>
                    </div>
                    
                </fieldset>
            </form>
        </div>
        <div class="modal-card-foot">
            <button class="button" (click)="updateFamily()">{{editMode ? "Save" : "Edit"}}</button>
            <button class="button" (click)="hideModal()">Close</button>
            <button class="button is-danger" (click)="deleteFamily()" *ngIf="isAdmin">Delete</button>
        </div>
    </div>
</div>
