
<section class="section">
  <div class="card-image has-text-centered my-6">
    <span class="icon is-large  mt-6">
      <i class="fa-solid fa-solid fa-calendar-days fa-7x" style="color: #025ba9;"></i>
    </span>
  </div>
  <div class='card-content my-3'>
    <p class="subtitle has-text-centered is-size-3">
      <strong>Do you want to schedule your next appointment?</strong>
    </p>

    <div class="buttons is-centered">
      <button class="button is-large" (click)="toggle()" [disabled] = "clicked">Yes</button>
      <a class="button is-large button is-danger mx-4" routerLink = "/checkin-complete">No</a>
    </div>
      <div *ngIf = "isDisplay">
        <div>
        <datepicker [(selectedDate)]="this.nextAppointment" (click) = "buttonDisplay()"></datepicker>

        <div class="confirm is-centered">
          <button class="button is-success" routerLink = "/checkin-complete" (click) = "updateAppointment()">Confirm</button>
        </div>

      </div>
      <div>
        <button class="button is-primary is-rounded">9:00 AM</button>
                <button class="button is-primary is-rounded">10:00 AM</button>
                <button class="button is-primary is-rounded">11:00 AM</button>
                <button class="button is-primary is-rounded">12:00 PM</button>
                <button class="button is-primary is-rounded">1:00 PM</button>
                <button class="button is-primary is-rounded">2:00 PM</button>
                <button class="button is-primary is-rounded">3:00 PM</button>
                <button class="button is-primary is-rounded">4:00 PM</button>
      </div>
    </div>

  </div>
</section>
