<html lang="en" dir="ltr">

<head>
  <script src="https://kit.fontawesome.com/24175b7d6d.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="changememberinfo1.component.css">


</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img class="logo" src="LG-Center-logo copy 2.png" alt="Local Good Center">
      </a>
    </div>
  </nav>

  <button style="margin-left: 20px; margin-top:20px;" class="button">Home</button>
  <section id="form">

    <h1 style="color: #28487B;" class="center">Hello X</h1>
    <br>
    <h3 class="center">Please select the member whose<br>information you want changed</h3>
    <br><br>

    <a class="center" href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU">Member 1</a>
    <br><br>
    <a class = "center" href="url">Member 2</a>
    <br><br>
    <a class = "center" href="url">Member 3</a>
    <br><br>
    <a class = "center" href="url">Member 4</a>
    <br><br>

  <button style="margin-left: 20px; margin-bottom:20px;" class="button">Back</button>





<section id="footer"></section>



