/* You can add global styles to this file, and also import other style files */
@import 'bulma/css/bulma.css';

html,

body {

height: 100%;

position: relative;

}




app-root {

background-color: #EDF7F9;
min-height: 100%;

display: block;

position: relative;

padding-bottom: 56px;

}

footer {

position: absolute;

bottom: 0;

width: 100%;

}