
  <section id="form">

    <h1 style="color: #28487B;" class="center">Hello X</h1>
    <br>
    <h3 class="center">Please select the member whose<br>information you want changed</h3>
    <br><br>

    <a class="center" href="https://www.youtube.com/watch?v=eBGIQ7ZuuiU">Member 1</a>
    <br><br>
    <a class = "center" href="url">Member 2</a>
    <br><br>
    <a class = "center" href="url">Member 3</a>
    <br><br>
    <a class = "center" href="url">Member 4</a>
    <br><br>

    <a routerLink="/review">
      <button style="margin-left: 20px; margin-bottom:20px;" class="button is-danger is-large">Back</button>
    </a>





