<div class="container has-text-centered has-text-weight-bold my-6">
    <h1 class="welcome is-size-1">Hello {{family.lastName}} Family! </h1>
</div>
<div class="box my-6">
    <p class="info">Name: {{family.lastName}} Family</p>
    <p class="info">Phone Number: 
        ({{family.phoneNumber.substring(0,3)}})-{{family.phoneNumber.substring(3,6)}}-{{family.phoneNumber.substring(6,10)}}</p>
    <p class="info">People:</p>
    <p class="info">&nbsp;&nbsp;&nbsp;&nbsp;Ages 0-17: {{family.minors}}</p>
    <p class="info">&nbsp;&nbsp;&nbsp;&nbsp;Ages 18-59: {{family.adults}}</p>
    <p class="info">&nbsp;&nbsp;&nbsp;&nbsp;Ages 60+: {{family.seniors}}</p>
</div>

<div class="container" id="changes">
    <h1 class="text is-size-3">Have there been any changes in family members since your last visit?</h1>
    <div class="field is-grouped">
        <div class="control">
            <a routerLink="/family-edit">
                 <button class="button is-link is-large">Yes</button>
            </a>
        </div>
        <div class="control">
             <a routerLink="/appointment">
                <button class="button is-link is-light is-large">No</button>
             </a>
        </div>
    </div>
</div>

