<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  </head>
  <body>
  <section class="section">
         <!-- font-awesome cdn -->
 <script src=
 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'>
     </script>
    <div class="container">
      <h1 class="title has-text-centered">
        Hello X 
      </h1>
      
    <div class='card-content'>
      <p class="subtitle has-text-centered">
        <strong>Please change any of the information if it isn't correct:  </strong>
     </p>
     <p class="subtitle has-text-centered">
      <input type="text" />
    </p>
    <p class="subtitle has-text-centered">
      <strong> Date of Birth:  </strong>
      <datepicker></datepicker>
    </p>
    <p class="subtitle has-text-centered">
      <strong>Do they have any dietary restrictions? (Please Select):  </strong>
   </p>
   <p class="subtitle has-text-centered">
    
 </p>
 <p class="subtitle has-text-centered">
  <strong>If they have any allergies please specify:  </strong>
</p>



<p class="subtitle has-text-centered">
  <button class="button">
    <span class="icon is-small">
      <i class="fa-solid fa-wheat-awn-circle-exclamation"></i>
    </span>
  </button>
  <button class="button">
    <span class="icon is-small">
      <i class="fa-solid fa-leaf"></i>
    </span>
  </button>
  <button class="button">
    <span class="icon is-small">
      <i class="fas fa-italic"></i>
    </span>
  </button>
</p>
<p class="subtitle has-text-centered">
  <button class="button">
    <span class="icon is-small">
      <i class="fa-solid fa-seedling"></i>
    </span>
  </button>
  <button class="button">
    <span class="icon is-small">
      <i class="fas fa-italic"></i>
    </span>
  </button>
  <button class="button">
    <span class="icon is-small">
      <i class="fas fa-italic"></i>
    </span>
  </button>
</p>



<p class="subtitle has-text-centered">
  <input type="text" />
</p>
    
     
     
 

     <div class="buttons is-centered">
      <a class="button is-large button is-info" routerLink = "/checkin">Add Another</a>
      <a class="button is-large button is-info" routerLink = "/checkin">More Changes</a>
      <a class="button is-large button is-success" routerLink = "/checkin">Finished</a>
      </div>
    </div>
    </div>
  </section>
  </body>
</html>