
  <section class="section">
    <div class='card-content'>
      <p class="subtitle has-text-centered is-size-3">
        <strong>Choose the date for your next appointment  </strong>
      </p>
      <p class="subtitle has-text-centered">
        <input class="aptDate my-5" type="date" [(ngModel)]="datePicked">
      </p> 

     <div class="buttons is-centered">
      <button class="button is-large button is-success" routerLink = "/checkin-complete" (click) = "updateAppointment()">Confirm</button>

      </div>
    </div>
  
</section>