/* .time{
  color:aqua;
} */


.button {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
p{
  font-family: Verdana, sans-serif;
}

.calendar {
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid rgb(255, 117, 117); */
}

/* Month header */
.month {
  padding: 50px 25px;
  width: 100%;
  background: #28487b;
  text-align: center;
  box-shadow:inset;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  box-shadow:inset;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  box-shadow:inset;
  display: inline-block;
  width: 14.25%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  width: 100%;
}

.buttons{
  width: 9.10%;
  display: inline-block;
  margin: 1% 2.55%;
  display: inline-block;
  transition-duration: 0.2s;
  border-style: solid;
  border-color: #eee;
  border-radius: 55%;
}

.buttons:hover {
  color: rgb(142, 142, 142);
}

.container {
  padding: 20px;
  /* border: 3px solid rgb(132, 218, 252); */
}

.box{
  background-color: #eee;
  box-shadow:inset;
  border-radius: 0;
}

.button{
  padding:12px;
  margin:5px;
  background-color: #eee;
  color: #28487b;
  border-color: #28487b;
}

.button:hover{
  background-color: #395d96;
  color: white;
  border-color: #395d96;
}

.confirm{
  text-align: right;
}


