.title{
  font-size: medium;
}

.container {
  padding: 20px;
  display: flex;
  /* border: 3px solid rgb(132, 218, 252); */
}

.table{
  /* background-color: #eee; */
  box-shadow: none;
  width: 90%;
}

tr:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.rotated > td > span > i {
  transform: rotate(90deg);
  transition: .4s ease;
}

td > span > i {
  transform: rotate(0deg);
  transition: .4s ease;
}

.box{
  /* background-color: #eee; */
  box-shadow: none;
  width: 110%;
}

select{
  margin: 8px 0;
  display: inline-block;
  border: none;
  background-color: #eee;
  border-radius: 4px;
}
