<p class = "title">Number of Total Breakfast Meals</p>
<p>{{breakfastCount}}</p>
<br>
<p class = "title">Number of Lunch Meals</p>
<p>{{lunchCount}}</p>
<br>
<p class = "title">Number of Dinner Meals</p>
<p>{{dinnerCount}}</p>
<br>
<p class = "title">Number of Supplemental Snacks</p>
<p>{{supplementalSnackCount}}</p>
<br>

<p class = "title">Total Days Distributed this Month</p>
<p>{{totalDaysDistributed}}</p>
<br>
<p class = "title">Total Number of Individual Households Served this Month</p>
<p>{{totalHouseholdsServed}}</p>
<br>
<p class = "title">Total Number of Households Served this Month</p>
<p>{{totalIndividualsServed}}</p>
<br>
<p class = "title">Total Number of New Households Served this Month</p>
<p>{{totalNewHouseholdsServed}}</p>
<br>
<p class = "title">Number of Clients 17 and Under</p>
<p>{{totalClientsUnder17}}</p>
<br>

<p class = "title">Number of Clients 18 to 59</p>
<p>{{totalClients18to59}}</p>
<br>
<p class = "title">Number of Clients 60 and Over</p>
<p>{{totalClients60andOver}}</p>
<br>
<p class = "title">Percent of Food Used From NFTB</p>
<p>{{percentFoodUsedFromNFTB}}</p>
<br>
