<div class="container">
  <div class ="table">
    <!-- <tr>
      <td class = "title">Number of Total Breakfast Meals</td>
      <td>{{breakfastCount}}</td>
    </tr>

    <tr>
      <td class = "title">Number of Lunch Meals</td>
      <td>{{lunchCount}}</td>
    </tr>

    <tr>
      <td class = "title">Number of Dinner Meals</td>
      <td>{{dinnerCount}}</td>
    </tr>

    <tr>
      <td class = "title">Number of Supplemental Snacks</td>
      <td>{{supplementalSnackCount}}</td>
    </tr> -->


    <tr>
      <td class = "title">Total Days Distributed this Month</td>
      <td>{{totalDaysDistributed}}</td>
    </tr>

    <tr>
      <td class = "title">Total Number of Individual Households Served this Month</td>
      <td>{{report.individualHouseholds}}</td>
    </tr>

    <tr>
      <td class = "title">Total Number of Households Served this Month</td>
      <td>{{report.households}}</td>
    </tr>

    <tr>
      <td class = "title">Total Number of New Households Served this Month</td>
      <td>{{report.newHouseholds}}</td>
    </tr>

    <tr>
      <td class = "title">Number of Clients 17 and Under</td>
      <td>{{report.numberOfYouth}}</td>
    </tr>


    <tr>
      <td class = "title">Number of Clients 18 to 59</td>
      <td>{{report.numberOfClients}}</td>
    </tr>

    <tr>
      <td class = "title">Number of Clients 60 and Over</td>
      <td>{{report.numberOfSeniors}}</td>
    </tr>

    <tr>
      <td class = "title">Percent of Food Used From NFTB</td>
      <td>{{percentFoodUsedFromNFTB}}</td>
    </tr>
  </div>
  <div class="box">
    <select id="month" name="month" [(ngModel)] = "this.selectedMonth" (change)="updateReport(this.selectedMonth, this.selectedYear)">
      <option value="SelectMonth">Select Month</option>
      <option value="01">January</option>
      <option value="02">February</option>
      <option value="03">March</option>
      <option value="04">April</option>
      <option value="05">May</option>
      <option value="06">June</option>
      <option value="07">July</option>
      <option value="08">August</option>
      <option value="09">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    <br>
    <select id="year" name="year" [(ngModel)]="this.selectedYear" (change)="updateReport(this.selectedMonth, this.selectedYear)">
      <option value="Select Year">Select Year</option>
      <option value="2023">2023</option>
      <option value="2022">2022</option>
    </select>
  </div>
</div>
