#event-container{
  background-color: white;
  display: flex;
}

img{
  height: 90%;
  width: 90%;
  border-radius: 5%;
  /* float: right; */
}

.left-div{
  width: 25%;
  /* background-color: #ffffff; */
  float: left;
}

.right-div{
  width: 75%;
  float: right;
  /* background-color: #ffffff; */
}

h2{
  font-size: x-large;
}

.button{
  background-color: #28487b;
  color: white;
  float: right;
}

.button:hover{
  background-color: #ffffff;
  /* background-color: #65bb7d; */
  color: #28487b;
  float: right;
}
