<section class="hero has-background-primary-light is-bold is-large">
    <div class="hero-body has-text-centered">
    </div>
    
    <div class="language-section">
        <h1 class="language-title">Choose your Language</h1>
        <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <a class="button is-large is-rounded" routerLink = "/checkin">
                    English
                  </a>
              </div>
            </div>
            <div class="level-item has-text-centered ">
              <div>
                <a class="button is-large is-rounded" routerLink = "/dietary-page">
                    Spanish
                  </a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <a class="button is-large is-rounded">
                    Arabic
                  </a>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <a class="button is-large is-rounded">
                    Japanese
                  </a>
              </div>
            </div>
          </nav>
    </div>
</section>
