<div class = "section">
    <div class = "container">
        <!-- <button type="check-in" class = 'btn' (click)="openPopup()">check in</button> -->
        <div class = "popup" id="popup">
            <div class = "close" (click)="closePopup()">&times;</div>
            <h2>Would you like to join any upcoming events?</h2>
            <div class = "event1" *ngFor="let event of this.events" style="display: block">
                <p>{{event.eventName}}</p>
                <br>
                <a *ngIf="event.formURL.length > 5" href="{{event.formURL}}" class="button is-primary" target="_blank">Register</a>
            </div>
            <button type ="button1" (click)="closePopup()">No thanks</button>
            <a href = "https://www.localgoodcenter.org/events" target="_blank">
                <button type =" link-to-events">More Events</button> 
            </a>
        </div>
    </div>

</div>
