<div class="header">
  <h1>What are you checking into?</h1>
</div>
<div class="tile is-ancestor">
  <div class="content">
    <div *ngFor="let appointment of this.filteredAppointments" class="image-with-text">
      <img src="{{this.events.get(appointment.id)?.imageURL}}">
      <div style="display: block">
        <p>{{this.events.get(appointment.id)?.eventName}}</p>
        <br>
        <p>Appointment Time: {{appointment.date.replace('T', ' ')}}</p>
        <br>
        <a class="button" routerLink="/review" (click)="checkIn(appointment.id)">Check In</a>
      </div>
    </div>
  </div>
</div>
<a class="button is-rounded" routerLink="/appointment">New Appointment</a>
