.button {
    background-color: #28487B;
    color: #f7ae04;
    width: 15rem;
}

div{
text-align: center;
}
b {

    color: #f7ae04;
    margin-top: 15rem;
    font-size: 1.5rem;
    margin-top: 8rem; 

}

.container {
    margin-top: 8rem;
    margin-bottom: 10rem;
}