<div class="tile is-ancestor pt-4">
  <div class="content">
    <div class="tile is-ancestor">
      <div *ngFor="let appointment of this.filteredAppointments" class="tile is-child p-4">
        <div class="card">
          
          
          <div class="card-image">
            <figure class="image is-square">
              <img src="{{this.events.get(appointment.id)?.imageURL}}">
            </figure>
          </div>
          
          
          <div class="card-content">
            <div class="content has-text-centered">
              <p class="title">{{this.events.get(appointment.id)?.eventName}}</p>
              <p class="subtitle">{{this.getReadableDate(appointment.date)}}</p>
              <a class="button is-link" routerLink="/review" (click)="checkIn(appointment.id, appointment.date)">Check In</a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<a class="button is-link mx-4" routerLink="/appointment">New Appointment</a>
