<html lang="en" dir="ltr">

  <head>
    <script src="https://kit.fontawesome.com/24175b7d6d.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="removefamilymember.component.css">
  
  
  </head>

<body style="background-color:powderblue;">

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img class="logo" src="LG-Center-logo copy 3.png" alt="Local Good Center">
      </a>
    </div>
  </nav>

  <button style="margin-left: 20px; margin-top:20px;" class="button">Home</button>
  <section id="form">

    <h1 style="color: #28487B;" class="center">Hello X</h1>
    <br>
    <h3 class="center">Please click the X next to the family members<br> being removed</h3>

    <br><br>

    <form class = "center" action="/form/submit" method="post">
      <div>
        <label>Member 1</label>
        <input type="checkbox" />
      </div>
      <br><br>
      <div>
        <label class="checkbox">Member 2</label>
        <input type="checkbox" />
      </div>
      <br><br>
      <div>
        <label>Member 3</label>
        <input type="checkbox" />
      </div>
      <br><br>

      <div>
        <label>Member 4</label>
        <input type="checkbox" />
      </div>
      <br><br>
    </form>


<br>
  <section id="footer"></section>





