
footer {
    padding: 0 0 0 0;
    bottom: 0;
    background-color: #E4AC3C;
    width: 100%;
    display:ruby;
    height: 3.5rem;
    justify-content: center;
    position: fixed;
}

.body {
    padding-bottom: 300px;
}


.navbar {
    background-color: #28487B;
    height: 6rem;
    padding-bottom: 20px;
    padding: 0 0 0 0;
}

.navbar-item img {
    max-height: 3.5rem;
}

.logo {
  height: 180px;
  width: 140px;
}



.mainImg{
    opacity: 0.5;
}

.welcome{
    font-size: 75px;
}
.center {
    text-align: center;

  }

  #form{

      font-weight: bold;

  }

  label{
    font-size: 20px;
    padding-right: 250px;
  }

  h1{
      font-weight: lighter;
      font-size: 50px;
  }


  #footer{
      padding-top: 100px;
      background-color: #E4AC3C;


  }

  h3{
      font-weight: lighter;
      font-size: 25px;
  }
