.navbar {
    background-color: #28487B;
    height: 6rem;
    padding: 0 0 0 0;
}

.navbar-item img {
    max-height: 4.5rem;
}

.navbar-item {
  color: white;
  font-weight: bold;
}

.logo {
  height: 180px;
  width: 140px;
}
