.radio {
    display: flex;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.radio > label {
    padding-right: 5px;
}

tbody:hover {
    cursor: pointer;
}

form {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

.blue.colorSelected {
    background-color: lightskyblue;
}

.pink.colorSelected {
    background-color: hotpink;
}

input:disabled {
    background-color: white;
    color: black;
    border-color: #dbdbdb;
}

.blue.colorSelected:disabled {
    background-color: lightskyblue;
}

.pink.colorSelected:disabled {
    background-color: hotpink;
}