<section class="section">
    <div class="container has-text-centered is-size-3 mb-3">
        <h1 class="title"><strong><u>Local Good Market Application</u></strong></h1>
    </div>
    <div class="container">
        <form accept-charset="utf-8" action="sendmail.php" method="post" enctype="multipart/form-data" #f="ngForm">
            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                <input class="input" type="text" name="hname" [(ngModel)]="family.members[0].name" placeholder="First Name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <input class = "input ml-5" type="text" name="lname" [(ngModel)]="family.name" placeholder="Last Name">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control has-icons-left">
                <input class="input" type="tel" name="phoneNumber" [(ngModel)]="family.phoneNumber" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-phone"></i>
                </span>
                </div>
            </div>

            
            <div class="field">
                <label class="label">Family Members</label>
                <div *ngFor="let member of family.members; let i = index">
                    <div class="field">
                        <input class="input" type="text" name="{{'fname' + i}}" [(ngModel)]="member.name" placeholder="First Name">
                        <input class="input" type="text" name="{{'Lname' + i}}" [(ngModel)]="member.lastName" placeholder="Last Name">
                        <br>
                        <label><strong>Age:</strong></label>

                        <label class ="radio" for="{{'0-17' + i}}">
                            <input id="{{'0-17' + i}}" type="radio" value="0-17" name="{{'age' + i}}" required [(ngModel)]="member.age">
                            0-17
                        </label>
                        <label class ="radio" for="{{'18-59' + i}}">
                            <input id="{{'18-59' + i}}" type="radio" value="18-59" name="{{'age' + i}}" required [(ngModel)]="member.age">
                            18-59
                        </label>
                        <label class ="radio" for="{{'60+' + i}}">
                            <input id="{{'60+' + i}}" type="radio" value="60+" name="{{'age' + i}}" required [(ngModel)]="member.age">
                            60+
                        </label>

                        <button *ngIf="i != 0" class="button" (click)="removeMember(i)">-</button>

                    </div>
                </div>
                <button class="button" (click)="addMember()">+</button>
            </div>
            
            <div class="field">
                <label class="label">Do you, or anyone in your household, have dietary restrictions? Check all that apply.</label>
                <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    None
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Vegetable
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Vegan
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Lactose Intolerant/Dairy Free
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Gluten Intolerant/Sensitive
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Food Allergy (cow's milk, eggs, tree nuts, peanuts, shellfish, wheat, soy, fish, etc.)
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Kosher
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Diabetes (all types)
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Halal(حلال)
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Other
                </label>
                </div>
            </div>

            <div class="field">
                <label class="label">Are you interested in any other services we provide at The Local Good Center? Check all that apply.</label>
                <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    None
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    English Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Parenting Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    U.S. Citizenship Test Preparedness Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Job Skills Classes/Workshops
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Cooking Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Nutrition/Food Prep Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Mental Health Early Recognition Program
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Exercise Classes/Programs
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Vaccine Clinics
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Health Screenings
                </label>
                </div>
            </div>
            
          
            <div class="field">
                <label class="label">How did you hear about The Local Good Market?</label>
                <div class="control">
                <textarea class="textarea" name = "required" ngModel minlength = "50" required placeholder = "Please fill out this form!"></textarea>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <a routerLink="/appointment">
                <button class="button is-link" (click)="onClick()" [disabled] = "f.invalid">Submit</button>
            </a>
                </div>
                <div class="control">
                     <a routerLink="/">
                        <button class="button is-link is-light">Cancel</button>
                     </a>
                </div>
            </div>
        </form>
    </div>
</section>