<section class="section">
    <div class="container has-text-centered is-size-3 mb-3">
        <h1 class="title"><strong><u>Local Good Market Application</u></strong></h1>
    </div>
    <div class="container">
        <form accept-charset="utf-8" action="sendmail.php" method="post" enctype="multipart/form-data">
            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Enter full name">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Phone Number</label>
                <div class="control has-icons-left">
                <input class="input" type="tel" placeholder="(XXX) XXX-XXXX" mask="(000) 000-0000">
                <span class="icon is-small is-left">
                    <i class="fa-solid fa-phone"></i>
                </span>
                </div>
            </div>
            
            <div class="field">
                <label class="label">Zip Code</label>
                <div class="control">
                <input class="input" type="text" placeholder="Enter 5 digit Zip Code">
                </div>
            </div>
           
            <div class="field">
                <label class="label">Number of people that live in your house ages 0-17 years old</label>
                <div class="control">
                <input class="input" type="text" placeholder="0">
                </div>
            </div>

            <div class="field">
                <label class="label">Number of people that live in your house ages 18-59 years old</label>
                <div class="control">
                <input class="input" type="text" placeholder="0">
                </div>
            </div>
            
            <div class="field">
                <label class="label">Number of people that live in your house ages 60+ years old</label>
                <div class="control">
                <input class="input" type="text" placeholder="0">
                </div>
            </div>
            
            
            <div class="field">
                <label class="label">Do you, or anyone in your household, have dietary restrictions? Check all that apply.</label>
                <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    None
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Vegetable
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Vegan
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    None
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Lactose Intolerant/Dairy Free
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Gluten Intolerant/Sensitive
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Food Allergy (cow’s milk, eggs, tree nuts, peanuts, shellfish, wheat, soy, fish, etc.)
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Kosher
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Diabetes (all types)
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Other
                </label>
                </div>
            </div>

            <div class="field">
                <label class="label">Are you interested in any other services we provide at The Local Good Center? Check all that apply.</label>
                <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    None
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    English Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Parenting Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    U.S. Citizenship Test Preparedness Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Job Skills Classes/Workshops
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Cooking Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Nutrition/Food Prep Classes
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Mental Health Early Recognition Program
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Exercise Classes/Programs
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Vaccine Clinics
                </label>
                <br>
                <label class="checkbox">
                    <input type="checkbox">
                    Health Screenings
                </label>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                <label class="radio">
                    <input type="radio" name="question">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="question">
                    No
                </label>
                </div>
            </div>
            
            <div class="field">
                <label class="label">How did you hear about The Local Good Market?</label>
                <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                <button class="button is-link">Submit</button>
                </div>
                <div class="control">
                <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</section>