.dietary {
    color: #28487B;
    font-size: 2rem;
    text-align: left;
    font-family: sans-serif;
}
.name1 {
    color: #28487B;
    font-size: 1.2rem;
    text-align: left;
    font-family: sans-serif;
}