<div class="box">
  <form #form="ngForm">
    <h1 class="title">{{family.lastName}} Family</h1>
    <fieldset [disabled]="!editMode">
      <label>
        Number of Members:
      </label>
      <div class="columns">
          <div class="column">
              <label>0-17</label>
              <input class="input" type="number" name="numMinors" [(ngModel)]="family.minors">
          </div>
          <div class="column">
              <label>18-59</label>
              <input class="input" type="number" name="numAdults" [(ngModel)]="family.adults">
          </div>
          <div class="column">
              <label>60+</label>
              <input class="input" type="number" name="numSeniors" [(ngModel)]="family.seniors">
          </div>
      </div>
      <label>
          Number
          <input class="input" type="text" name="number" [(ngModel)]="family.phoneNumber">
      </label>
      <label>
          Allergies
      </label>
      <br>
      <div class="dropdown" [ngClass]="this.restrictionsVisble? 'is-active' : ''" style="z-index: 10;">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2" (click)="this.restrictionsVisble = !this.restrictionsVisble">
            <span>{{this.family.allergies.length == 0 ? "No Dietary Restrictions" : this.family.allergies.toString()}}</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
            <div class="dropdown-content">
                <div *ngFor="let restriction of dietaryRestrictions; let i = index;">
                    <div class="dropdown-item">
                        <input type="checkbox" name="allergy{{i}}" (change)="updateRestriction(restriction)" [checked]="this.family.allergies.includes(restriction)">
                        {{restriction}}
                    </div>
                    <!-- <hr class="dropdown-divider"> -->
                </div>
            </div>
        </div>
      </div>
      <br>
    </fieldset>
  </form>
  <button class="button" (click)="updateFamily()">{{editMode ? "Save" : "Edit"}}</button>
  <button class="button is-warning" routerLink="/appointment">Cancel</button>
</div>